<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All
            Events</a>
        </li>
        <li><a [routerLink]="['/events/create']" routerLinkActive="active">Create Event</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="">Angular Connect</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!authSErvice.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="authSErvice.isAuthenticated()" [routerLink]="['user/profile']">Welcome
              {{authSErvice.currentUser.userName}}</a>
          </li>
        </ul>
      </div>
      <form id="searchForm" (ngSubmit)="onSearchSession(searchItem)" class="navbar-form navbar-right">
        <div class="form-group">
          <input [(ngModel)]="searchItem" name="searchItem" type="text" class="form-control" placeholder="Search Sessions">
        </div>
        <button class="btn btn-default" modal-trigger="searchResult">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

<simple-modal elementId="searchResult" title="Matching Sessions" closeOnBodyClick="true">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">
      {{ session.name }}
    </a>
  </div>
</simple-modal>