<h1>Login</h1>
<hr>
<div class="col-md-4">
    <form (ngSubmit)="onSubmit(LoginForm.value)" #LoginForm="ngForm" autocomplete="off" novalidate>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <em *ngIf="LoginForm.controls.username?.invalid && (LoginForm.controls.username?.touched || mouseOverLogin) ">required</em>
            <input (ngModel)="username" name="username" id="userName" type="text" class="form-control" placeholder="User Name..."
                required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <em *ngIf="LoginForm.controls.password?.invalid && (LoginForm.controls.password?.touched || mouseOverLogin) ">required</em>
            <input (ngModel)="password" name="password" id="password" type="password" class="form-control" placeholder="Password..."
                required />
        </div>
        <span (mouseenter)="mouseOverLogin=true" (mouseleave)="mouseOverLogin=false">
            <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-primary">Login</button>
        </span>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
    </form>
    <br />
    <div *ngIf="loginInvalid" class="alert alert-danger">Invalid Login Info.</div>
</div>