<div class="col-md-12">
    <h3>Create Session</h3>
</div>
<div class="col-md-6">
    <form autocomplete="off" [formGroup]="SessionForm" (ngSubmit)="onCreateSession(SessionForm.value)">
        <div class="form-group">
            <label for="sessionName">Session Name:</label>
            <em *ngIf="name.invalid && name.dirty">Required</em>
            <input id="sessionName" formControlName="name" type="text" class="form-control" placeholder="session name..."
                [ngClass]="{'error':name.invalid && name.dirty}" />
        </div>
        <div class="form-group">
            <label for="eventDate">Presenter:</label>
            <em *ngIf="presenter.invalid && presenter.dirty">Required</em>
            <input id="presenter" formControlName="presenter" type="text" class="form-control" placeholder="presenter..."
                [ngClass]="{'error':presenter.invalid && presenter.dirty}" />
        </div>
        <div class="form-group">
            <label for="duration">Duration:</label>
            <em *ngIf="duration.invalid && duration.dirty">Required</em>
            <em *ngIf="duration.invalid && duration.dirty ">Required</em>
            <select class="form-control" formControlName="duration" [ngClass]="{'error':duration.invalid && duration.dirty}">
                <option value="">select duration...</option>
                <option value="1">Half Hour</option>
                <option value="2">1 Hour</option>
                <option value="3">Half Day</option>
                <option value="4">Full Day</option>
            </select>
        </div>
        <div class="form-group">
            <label for="level">Level:</label>
            <em *ngIf="level.invalid && level.dirty">Required</em>
            <select class="form-control" formControlName="level" [ngClass]="{'error':level.invalid && level.dirty}">
                <option value="">select level...</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>
        <div class="form-group">
            <label for="abstract">Abstract:</label>
            <em *ngIf="abstract.invalid && abstract.dirty">Required</em>
            <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.maxLength">Can not Exced 240 characters.</em>
            <em *ngIf="abstract.invalid && abstract.dirty && abstract?.errors.restrictedWords">Restricted Words Found.
                {{abstract.errors.restrictedWords}}
            </em>
            <textarea formControlName="abstract" id="abstract" rows=3 class="form-control" placeholder="abstract..."
                [ngClass]="{'error':abstract.invalid && abstract.dirty}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button (click)="onCancel()" type="button" class="btn btn-default">Cancel</button>
    </form>
</div>