<div>
  <img [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- here transforming with the built in date pipe with an argument. -->
      <div><strong>Date:</strong> {{event?.date | date:'shortDate' }}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'INR'}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br />
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr />
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-2">
      <h3 style="margin: 0">Session</h3>
    </div>
    <div class="col-md-7">
      <div class="btn-group btn-group-sm">
        <div class="btn-group btn-group-sm" style="margin-right: 20px; margin-left: 20px;">
          <button class="btn btn-default" [class.active]="sortBy ==='name'" (click)="sortBy = 'name'">By Name</button>
          <button class="btn btn-default" [class.active]="sortBy ==='votes'" (click)="sortBy = 'votes'">By Votes</button>
        </div>
        <button class="btn btn-default" [class.active]="filteredBy==='all'" (click)="filteredBy='all'">All</button>
        <button class="btn btn-default" [class.active]="filteredBy==='beginner'" (click)="filteredBy='beginner'">Beginner</button>
        <button class="btn btn-default" [class.active]="filteredBy==='intermediate'" (click)="filteredBy='intermediate'">Intermediate</button>
        <button class="btn btn-default" [class.active]="filteredBy==='advanced'" (click)="filteredBy='advanced'">Advanced</button>
      </div>
    </div>
    <div class="col-md-2"><a (click)="addSession()">Add Session</a></div>
  </div>

  <session-list *ngIf="!addMode" [evnetID]="event?.id" [filteredBy]="filteredBy" [sortBy]="sortBy" [sessions]="event?.sessions"></session-list>
  <create-session *ngIf="addMode" (onCancelMode)="onCancelAddMode($event)" (onAddSession)="onAddSession($event)"></create-session>
</div>