<div class="row" *ngFor="let session of visibleSession">
    <div class="col-md-1">
        <div *ngIf="authSErvice.isAuthenticated()">
            <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
        </div>
    </div>
    <div class="col-md-10">
        <collapsable-well>
            <div well-title>
                {{session.name }}
                <i *ngIf="session.voters.length >2" class="glyphicon glyphicon-fire"></i>
            </div>
            <div well-body>
                <h6>{{session.presenter}}</h6>
                <!-- transforming the output with custom PIPE called - 'duration' -->
                <span>Duration: {{session.duration | duration}}</span><br />
                <span>Level: {{session.level}}</span>
                <p>{{session.abstract}}</p>
            </div>
        </collapsable-well>
    </div>
</div>